.tree-size {
    height: 125px;
    width: auto;
    max-width: fit-content;
}

.tree-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
    min-height: 100%;
}