.tabs-row {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.indiv-tab {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.indiv-tab active {
    background-color: rgba(255, 255, 255, 0.15);
}

.indiv-tab img {
    height: 50px;
    width: 50px;
}

/* TODO: delete colored panel-wrapper styles */
.panel-wrapper {
    border: 1px solid black;
}

.panel-wrapper-skills {
    border: 1px solid orange;
}

.panel-wrapper-inventory {
    border: 1px solid yellow;
}

.panel-wrapper-logout {
    border: 1px solid blue;
}

.message-log-container {
    border: 1px solid brown;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 4px;
    background-color: #4d4335;
    padding: 12px;
    border: 3px solid #383023;
    width: fit-context;
}

.inventory-slot {
    width: 42px;
    height: 42px;
    background-color: #4e3529;
    border: 1px solid #1a1712;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inventory-icon {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    cursor: pointer;
}

.mobile-drop {
    position: absolute;
    top: -2px;
    right: -2px;
    background: red;
    color: white;
    font-size: 8px;
    border: none;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}