.tabs-row {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.indiv-tab {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.indiv-tab active {
    background-color: rgba(255, 255, 255, 0.15);
}

.indiv-tab img {
    height: 50px;
    width: 50px;
}

.panel-wrapper {
    border: 1px solid black;
}