.tabs-row {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.indiv-tab {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.indiv-tab active {
    background-color: rgba(255, 255, 255, 0.15);
}

.indiv-tab img {
    height: 50px;
    width: 50px;
}

/* TODO: delete colored panel-wrapper styles */
.panel-wrapper {
    border: 1px solid black;
}

.panel-wrapper-combat {
    border: 1px solid red;
}

.panel-wrapper-skills {
    border: 1px solid orange;
}

.panel-wrapper-inventory {
    border: 1px solid yellow;
}

.panel-wrapper-equipment {
    border: 1px solid green;
}

.panel-wrapper-logout {
    border: 1px solid blue;
}

.panel-wrapper-locked {
    border: 1px solid purple;
}